<?xml version="1.0" encoding="utf-8" standalone="no"?>
<installer-gui-script minSpecVersion="1">
    <title>${TSA_TITLE}</title>
    <welcome    file="${WELCOME_FILE_OUT}" />
    <readme     file="${README_FILE_OUT}" mime-type="text/html" />
    <license    file="${PROJECT_SOURCE_DIR}/LICENSE" mime-type="text/plain" />

    <pkg-ref id="com.shapelets.tsa.lib"         version="${VERSION_SHORT}" onConclusion="none">TSALibrary.pkg</pkg-ref>
    <pkg-ref id="com.shapelets.tsa.inc"         version="${VERSION_SHORT}" onConclusion="none">TSAHeaders.pkg</pkg-ref>
    <pkg-ref id="com.shapelets.tsa.examples"    version="${VERSION_SHORT}" onConclusion="none">TSAExamples.pkg</pkg-ref>
    <pkg-ref id="com.shapelets.tsa.doc"         version="${VERSION_SHORT}" onConclusion="none">TSADoc.pkg</pkg-ref>
    <pkg-ref id="com.shapelets.tsa.cmake"       version="${VERSION_SHORT}" onConclusion="none">TSACMake.pkg</pkg-ref>
    <options customize="always" require-scripts="false"/>
    <choices-outline>
        <line choice="com.shapelets.tsa.lib"/>
        <line choice="com.shapelets.tsa.inc"/>
        <line choice="com.shapelets.tsa.examples"/>
        <line choice="com.shapelets.tsa.doc"/>
        <line choice="com.shapelets.tsa.cmake"/>
    </choices-outline>
    <choice title="Library" description="Library files of TSA" id="com.shapelets.tsa.lib" visible="true" enabled="true">
        <pkg-ref id="com.shapelets.tsa.lib"/>
    </choice>
    <choice title="Headers" description="TSA Headers." id="com.shapelets.tsa.inc" visible="true" enabled="true">
        <pkg-ref id="com.shapelets.tsa.inc"/>
    </choice>
    <choice title="Examples" description="TSA Examples" id="com.shapelets.tsa.examples" visible="true" enabled="true">
        <pkg-ref id="com.shapelets.tsa.examples"/>
    </choice>
    <choice title="Documentation" description="TSA Documentation" id="com.shapelets.tsa.doc" visible="true" enabled="true">
        <pkg-ref id="com.shapelets.tsa.doc"/>
    </choice>
</installer-gui-script>
